
* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    min-height: 100vh;
}


body.dark{
    background:#0b0b0b;
    color:white;
}
